.item-description {
    padding: 5px;
    width: 200px;
    margin-bottom: 10px;
}

.item-completed:checked + .item-description {
    background: #dddddd;
    text-decoration: line-through;
}

#add {
    background-color: burlywood;
    color: #000; 
    border: 10px solid transparent; 
    padding: 10px 20px; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    transition: border-color 1s; 
}


#add:hover {
    border-color: #000; 
}

#add {
    font-family:serif;
    font-size:large;
}
    